<!DOCTYPE html>
<html xmlns="http:www.thymeleaf.org">

<head>
	<title>Insert Title Here</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!--Brands-->
		<a class="navbar-brand" href="#">Student Management System</a>


		<!--Toggler/collapsible Button-->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>

		</button>

		<!--Navbar links-->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/students}">Student Management</a>
				</li>
			</ul>
		</div>

	</nav>



	<div class="container">

		<div class="row">

			<div class="col-lg-6 col-md-6 container justify-content-center card">
				<div class="text-center" style="font-size: 30px;"> UPDATE STUDENT</div>
				<div class="card-body"></div>
				<form th:action="@{/students/edit/{id}(id=${student.id})}" th:object="${student}" method="post">

					<div class="form-group">
						<label>Student First Name</label>
						<input type="text" name="firstName" class="form-control" th:field="*{firstName}"
							placeholder="Enter Student FirstName">
					</div>

					<div class="form-group">
						<label>Student Last Name</label>
						<input type="text" name="lastName" class="form-control" th:field="*{lastName}"
							placeholder="Enter Student lastName">
					</div>

					<div class="form-group">
						<label>Student Email</label>
						<input type="text" name="email" class="form-control" th:field="*{email}"
							placeholder="Enter Student Email">
					</div>

					<div class="form-group">
						<label>Student Address</label>
						<input type="text" name="address" class="form-control" th:field="*{address}" placeholder="Enter Student Address">
					</div>
					<div class="form-group">
						<label>Student Contact</label>
						<input type="text" name="contact" class="form-control" th:field="*{contact}" placeholder="Enter Student Contact">
					</div>
					<div class="form-group">
						<label>Student DOB</label>
						<input type="text" name="dob" class="form-control" th:field="*{dob}" placeholder="Enter Student Dob">
					</div>

					<div class="form-group">
						<label>Student Course</label>

						<select name="course" id="course" th:field="*{course}">
							<option value="BBA">BBA</option>
							<option value="B'Tech">B'Tech</option>
							<option value="BCA">BCA</option>
							<option value="MCA">MCA</option>
						</select>
					</div>


					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Submit</button>


					</div>




				</form>


			</div>



		</div>



	</div>


</body>

</html>